.manual-asset-entry {
  opacity: 1;
  transition: opacity $cubic-bezier 0.2s;

  &--loading {
    opacity: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
  }

  &__main {
    transition: width 0.4s $cubic-bezier;
    width: 100%;
  }

  &__header {
    margin-bottom: 15px;
    margin-top: -15px;
  }

  &__title {
    color: get-color(core, title);
    font: map-get($font-weight, semi-bold) 24px/32px $font-stack;
    margin: 0;
  }

  .button--xs {
    margin: 0 6px 6px 0;

    &.float--right {
      margin: 0 0 6px 6px;
    }
  }
}
